## String Based Assignment Problems

In [2]:
## 1. Write a program to reverse a string.

str_input = 'Kaiser'

reverse = str_input[::-1]
print(f"The reversed string is {reverse}")

The reversed string is resiaK

In [3]:
## 2. Check if a string is a palindrome.

str_input = "Malayalam"
check = str_input.lower()

if check == check[::-1]:
    print(f"{check} is Palindrome")
else:
    print(f"{check} is not Palindrome")

malayalam is Palindrome

In [4]:
## 3. Convert a string to uppercase.

str_input = 'azad'
str_input.upper()

'AZAD'

In [6]:
## 4. Convert a string to lowercase.

str_input = 'AZAD'
str_input.lower()

'azad'

In [10]:
## 5. Count the number of vowels in a string.

vowels = 'aeiouAEIOU'
name = 'Kaiser Azad'

count = 0

for i in name:
    if i in vowels:
        count += 1
print(f"The number of vowels are {count}")

The number of vowels are 5

In [13]:
## 6. Count the number of consonants in a string.

vowels = 'aeiouAEIOU'
name = 'KaiserAzadRubel'

count = 0

for i in name:
    if i not in vowels:
        count += 1
print(f"The number of conconants are {count}")

The number of conconants are 8

In [50]:
## 7. Remove all whitespaces from a string.

name = 'Kaiser Azad Rubel'

name.replace(" ","")

'KaiserAzadRubel'

In [19]:
## 8. Find the length of a string without using the `len()` function.

string = 'MohammadKaiserAzad'

count = 0

for i in string:
    count +=1
print(f"The length of the string is {count}")

The length of the string is 18

In [26]:
## 9. Check if a string contains a specific word.

string = str(input("Enter a string"))

specific_word = 'Azad'

if specific_word in string:
    print("Yes is contains the specific word")
else:
    print("No is doesn't contain any specific word")

Enter a string Azad

Yes is contains the specific word

In [28]:
## 10. Replace a word in a string with another word.

string = 'Kaiser'

replace_string = string.replace('Kaiser', 'Azad')

print(f"The replace string of {string} is {replace_string}")

The replace string of Kaiser is Azad

In [34]:
## 11. Count the occurrences of a word in a string.

string = 'Mohammad'
update = string.lower()

count = 0
for i in update:
    if i == 'm':
        count+=1
print(f"The count for the word 'M' in {string} is {count}")

The count for the word 'M' in Mohammad is 3

In [36]:
## 12. Find the first occurrence of a word in a string.

string = 'Mohammad'

for i in string[0]:
    print(f"The first occurrence of a word of {string} is {i}")

The first occurrence of a word of Mohammad is M

In [37]:
## 13. Find the last occurrence of a word in a string.

string = 'Mohammad'

for i in string[-1]:
    print(f"The last occurrence of a word of {string} is {i}")

The last occurrence of a word of Mohammad is d

In [44]:
## 14. Split a string into a list of words.

string = 'I am Mohammad Kasier Azad'
word_list = string.split()

print(word_list)

['I', 'am', 'Mohammad', 'Kasier', 'Azad']

In [48]:
## 15. Join a list of words into a string.

join_list= " ".join(word_list)
print(join_list)

I am Mohammad Kasier Azad

In [1]:
## 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

string = str(input("Enter a string seprated by spaces:"))
print("Converted String: ", string.replace(" ", "_"))

Enter a string seprated by spaces: Mohammad Kaiser Azad

Converted String:  Mohammad_Kaiser_Azad

In [14]:
## 17. Check if a string starts with a specific word or phrase.

string = str(input("Enter the string: "))
specific_word = str(input("Enter the specific word:"))

if string[0] == specific_word:
    print(f"The string starts with {specific_word}.")
else:
    print(f"The string doesn't starts with {specific_word}.")

Enter the string:  Azad
Enter the specific word: A

The string starts with A.

In [17]:
## 18. Check if a string ends with a specific word or phrase.

string = str(input("Enter the string: "))
specific_word = str(input("Enter the specific word:"))

if string[-1] == specific_word:
    print(f"The string ends with {specific_word}.")
else:
    print(f"The string doesn't ends with {specific_word}.")

Enter the string:  Azad
Enter the specific word: d

The string ends with d.

In [18]:
## 19. Convert a string to title case (e.g., "hello world" to "Hello World").

string = str(input("Enter a string: "))
title_case = string.title()

print("Title case is: ", title_case)

Enter a string:  hello world

Title case is:  Hello World

In [23]:
## 20. Find the longest word in a string.

string = str(input("Enter the word: "))
words = string.split()  # Spliting the string into words
longest_word = max(words, key = len)

print(f"The longest word is {longest_word}")

Enter the word:  Mohammad Kaiser Azad

The longest word is Mohammad

In [26]:
## 21. Find the shortest word in a string.

string = str(input("Enter the word: "))
words = string.split()  # Spliting the string into words
shortest_word = min(words, key = len)

print(f"The shortest word is {shortest_word}")

Enter the word:  I am Mohammad Kaiser Azad

The shortest word is I

In [27]:
## 22. Reverse the order of words in a string.

string = str(input("Enter a string: "))
rev_string = string[::-1]

print(f"The reverse of the string is {rev_string}")

Enter a string:  What

The reverse of the string is tahW

In [29]:
## 23. Check if a string is alphanumeric.

string = str(input("Enter the string: "))

if string.isalnum():
    print("The string is Alphanumeric")
else:
    print("The string is not Alphanumeric")

Enter the string:  malayalam

The string is Alphanumeric

In [33]:
## 24. Extract all digits from a string.

string = input("Enter a string: ")

digits = ""

for i in string:
    if i.isdigit():
        digits += i
print("The extracted figists are: ", digits)

Enter a string:  fksjfalök1123434

The extracted figists are:  1123434

In [34]:
## 25. Extract all alphabets from a string.
string = str(input("Enter a string: "))
alphabets = ""

for i in string:
    if i.isalpha():
        alphabets+=i
        
print("The alphabets are", alphabets)

Enter a string:  12dasdadfd321

The alphabets are dasdadfd

In [38]:
## 26. Count the number of uppercase letters in a string.

string = str(input("Enter a string: "))
count = 0

for i in string:
    if i.isupper():
        count+=1
print("The count for the number of uppercases are",count)

Enter a string:  I am Mohammad Kaiser Azad

The count for the number of uppercases are 4

In [40]:
## 27. Count the number of lowercase letters in a string.

string = str(input("Enter a string: "))
count = 0

for i in string:
    if i.islower():
        count+=1
print("The count for the number of lower cases are",count)

Enter a string:  AzaD

The count for the number of lower cases are 2

In [42]:
## 28. Swap the case of each character in a string.

string = str(input("Enter a string: "))
swapped_string = string.swapcase()
print("Swapped case of each character is",swapped_string)

Enter a string:  AzaD

Swapped case of each character is aZAd

In [43]:
## 29. Remove a specific word from a string.

string = str(input("Enter a string: "))
word_to_remove = str(input("Enter a word to remove: "))
new_string = string.replace(word_to_remove, "")

print("Modified string is: ", new_string)

Enter a string:  Azad
Enter a word to remove:  z

Modified string is:  Aad

In [44]:
## 30. Check if a string is a valid email address.

import re

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    return re.match(pattern, email) is not None

input_email = input("Enter an email address: ")
if is_valid_email(input_email):
    print("Valid email address. ",end=input_email)
else:
    print("Invalid email address. ",end=input_email)

Enter an email address:  mk.azad0090a231

Invalid email address. mk.azad0090a231

In [45]:
## 31. Extract the username from an email address string.

email = str(input("Enter an email address: "))

username = email.split('@')[0]

print("Extracted user name is:", username)

Enter an email address:  mk.azad0090@gmail.com

Extracted user name is: mk.azad0090

In [46]:
## 32. Extract the domain name from an email address string.

email = str(input("Enter an email address: "))

domain = email.split('@')[1]

print("Extracted domain is:", domain)

Enter an email address:  mk.azad0090@gmail.com

Extracted domain is: gmail.com

In [49]:
## 33. Replace multiple spaces in a string with a single space.

string = str(input("Enter a string: "))

updated_string = string.replace("  ", " ")

print("After replacing multiple spaces: ", updated_string)

Enter a string:  Mohammad Kaiser  Azad

After replacing multiple spaces:  Mohammad Kaiser Azad

In [52]:
## 34. Check if a string is a valid URL.

import re

def is_valid_url(url):
    pattern = r'^(http|https|ftp)://[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}(/.*)?$'
    return re.match(pattern, url) is not None

input_url = input("Enter a URL: ")
if is_valid_url(input_url):
    print("Valid URL. ",end=input_url)
else:
    print("Invalid URL. ",end=index)

Enter a URL:  https://www.facebook.com/sadfafsf

Valid URL. https://www.facebook.com/sadfafsf

In [53]:
## 35. Extract the protocol (http or https) from a URL string.

from urllib.parse import urlparse

def extract_protocol(url):
    parsed_url = urlparse(url)
    return parsed_url.scheme

input_url = input("Enter a URL: ")
protocol = extract_protocol(input_url)
print("Extracted protocol:", protocol)

Enter a URL:  https://www.youtube.com/

Extracted protocol: https

In [55]:
## 36. Find the frequency of each character in a string.

def character_frequency(string):
    frequency = {}

    for i in string:
        if i in frequency:
            frequency[i] += 1
        else:
            frequency[i] = 1

    return frequency

string = input("Enter a string: ")
frequency_dic = character_frequency(string)

print("Character frequencies:")
for i, count in frequency_dic.items():
    print(f"'{i}': {count}")

Enter a string:  Mohammad Kaiser Azad

Character frequencies:
'M': 1
'o': 1
'h': 1
'a': 4
'm': 2
'd': 2
' ': 3
'K': 1
'i': 1
's': 1
'e': 1
'r': 1
'A': 1
'z': 1

In [58]:
## 37. Remove all punctuation from a string.

import string

def remove_punctuation(input_string):
    translator = str.maketrans('', '', string.punctuation)
    clean_string = input_string.translate(translator)
    return clean_string

input_string = input("Enter a string: ")
cleaned_string = remove_punctuation(input_string)
print(f"Original String {input_string}")
print("Cleaned string:", cleaned_string)

Enter a string:  My? name+ is Azad!

Original String My? name+ is Azad!
Cleaned string: My name is Azad

In [10]:
## 38. Check if a string contains only digits.

string = input("Enter something: ")

if string.isdigit():
    print("The string contains digits")
else:
    print("The string doesn't contain any digits")

Enter something:  1221

The string contains digits

In [13]:
## 39. Check if a string contains only alphabets.

string = input("Enter something: ")

if string.isalpha():
    print("The string contains only alphabets")
else:
    print("The string doesn't contain only alphabets")

Enter something:  124asfdafa

The string doesn't contain only alphabets

In [14]:
## 40. Convert a string to a list of characters.

string = "Azad"
list_char = list(string)

print(f" The list of character is {list_char}")

 The list of character is ['A', 'z', 'a', 'd']

In [18]:
## 41. Check if two strings are anagrams.

str1 = str(input("Enter the first string: "))
str2 = str(input("Enter the second string: "))

if (sorted(str1)) == (sorted(str2)):
    print("The strings are anagrams")
else:
    print("The string are not anagrams")

Enter the first string:  abcd
Enter the second string:  cadb

The strings are anagrams

In [7]:
## 42. Encode a string using a Caesar cipher.

def ceasar_cipher_encode(text, shift):
    encoded_text = " "
    
    for char in text:
        if char.isalpha():
            if char.islower():
                encoded_char = chr((ord(char) - ord('a') + shift) % 26 + ord('a'))
            else:
                encoded_char = chr((ord(char) - ord('A') + shift) % 26 + ord('A'))
        else:
            encoded_char = char
        encoded_text += encoded_char
        
    return encoded_text

plaintext = input("Enter the string")
shift = 3
encoded_text = ceasar_cipher_encode(plaintext, shift)
print(f"Original text {plaintext}")
print(encoded_text)

Enter the string kasier

Original text kasier
 ndvlhu

In [8]:
## 43. Decode a Caesar cipher encoded string.

def caesar_cipher_decode(encoded_text, shift):
    decoded_text = ""

    for char in encoded_text:
        if char.isalpha():
            if char.islower():
                decoded_char = chr((ord(char) - ord('a' ) - shift) % 26 + ord('a'))
            else:
                decoded_char = chr((ord(char) - ord('A') - shift) % 26 + ord('A'))
        else:
            decoded_char = char
        decoded_text += decoded_char

    return decoded_text


encoded_text = input("Enter string ") 
shift = 3
decoded_text = caesar_cipher_decode(encoded_text, shift)
print("Original String "+plaintext)
print(decoded_text)

Enter string  kaiser

Original String kasier
hxfpbo

In [9]:
## 44. Find the most frequent word in a string.

from collections import Counter
import re

def most_frequent_word(text):
    cleaned_text = re.sub(r'[^\w\s]', '', text).lower()

    words = cleaned_text.split()

    word_counts = Counter(words)

   
    most_common_word = word_counts.most_common(1)[0]

    return most_common_word

# Example usage
input_text =input("Enter the String") 
result = most_frequent_word(input_text)
print("The most frequent word is:", result[0])
print("It appears", result[1], "times.")

Enter the String I am Azad. I am 29 years old. I live in Sweden.

The most frequent word is: i
It appears 3 times.

In [10]:
#45. Find all unique words in a string.

import re

def unique_words(text):
    cleaned_text = re.sub(r'[^\w\s]', '', text).lower()

    words = cleaned_text.split()

    unique_words_set = set(words)

    return unique_words_set


input_text = input("Enter the string")
unique_words_set = unique_words(input_text)
print("Unique words:", unique_words_set)

Enter the string play only if you love to play

Unique words: {'play', 'only', 'if', 'to', 'love', 'you'}

In [11]:
#46. Count the number of syllables in a string.

import re

def count_syllables(word):
    vowels = re.findall(r'[aeiouy]+', word, re.IGNORECASE)
    return len(vowels)

def total_syllables(text):
    words = text.split()
    total = sum(count_syllables(word) for word in words)
    return total


input_text = "The quick brown fox jumps over the lazy dog."
syllable_count = total_syllables(input_text)
print("Total syllables:", syllable_count)

Total syllables: 11

In [1]:
#48. Remove the nth word from a string.

user = input('Enter sentence')
user = user.split()
word = int(input('Enter word index you want to remove'))
user.pop(word)
print(" ".join(user))

Enter sentence I am not Azad
Enter word index you want to remove 2

I am Azad

In [6]:
# 49. Insert a word at the nth position in a string.

sentence = 'I PWSKILLS'
user = input('Enter word')
sentence = sentence.split()
word = int(input('Enter index'))
sentence.insert(word-1,user)
print(" ".join(sentence))

Enter word love
Enter index 2

I love PWSKILLS

In [7]:
# 50. Convert a CSV string to a list of lists.

def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

## List Based Practice Problem :

In [12]:
## 1. Create a list with integers from 1 to 10.

list_int = list(range(1,11))
print(f"The list of integers: {list_int}")

The list of integers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
## 2. Find the length of a list without using the `len()` function.

count = 0

list_word = ["azad", "suresh", "sakib", 12, 43]

for i in list_word:
    count+=1
print(f"The length of the list {count}")

The length of the list 5

In [22]:
## 3. Append an element to the end of a list.

list_word.append("Bangladesh")
print(f"The appended list is {list_word}")

The appended list is ['azad', 'suresh', 'sakib', 12, 43, 'Bangladesh']

In [1]:
## 4. Insert an element at a specific index in a list.

myList = ['Gulshan', 'Dhaka', 'Chittagong']
myList.insert(2, 'Bangladesh')
print(myList)

['Gulshan', 'Dhaka', 'Bangladesh', 'Chittagong']

In [3]:
## 5. Remove an element from a list by its value.

myList.remove('Dhaka')
print(myList)

['Gulshan', 'Bangladesh', 'Chittagong']

In [4]:
## 6. Remove an element from a list by its index.

del myList[0]
print(myList)

['Bangladesh', 'Chittagong']

In [11]:
## 7. Check if an element exists in a list.

inp = str(input("Write a word:"))

if inp in myList:
    print("This element exist")
else:
    print("This element doesn't exist")

Write a word: daa

This element doesn't exist

In [15]:
## 8. Find the index of the first occurrence of an element in a list.

myList = ['Bangladesh', 'India', 'Pakistan', 'Srilanka']
print(myList[0])

Bangladesh

In [17]:
## 9. Count the occurrences of an element in a list.

myList = ['Bangladesh', 'India', 'Pakistan', 'Srilanka', 'Bangladesh', 'Bangladesh']

print(f"The occurrence of Bangladesh in the list is {myList.count('Bangladesh')}")

The occurrence of Bangladesh in the list is 3

In [18]:
## 10. Reverse the order of elements in a list.

myList.reverse()
print(f"The reversed order of the list is {myList}")

The reversed order of the list is ['Bangladesh', 'Bangladesh', 'Srilanka', 'Pakistan', 'India', 'Bangladesh']

In [19]:
## 11. Sort a list in ascending order.

myList = [7,4,3,6,5,2,1]
print(myList)
myList.sort()
print(myList)

[7, 4, 3, 6, 5, 2, 1]
[1, 2, 3, 4, 5, 6, 7]

In [21]:
## 12. Sort a list in descending order.

myList.sort(reverse= True)
print(myList)

[7, 6, 5, 4, 3, 2, 1]

In [24]:
## 13. Create a list of even numbers from 1 to 20.

list_numbers = range(1,21)
even_list = []

for i in list_numbers:
    if i%2 == 0:
        even_list.append(i)
print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [25]:
## 14. Create a list of odd numbers from 1 to 20.

list_numbers = range(1,21)
odd_list = []

for i in list_numbers:
    if i%2 != 0:
        odd_list.append(i)
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [26]:
## 15. Find the sum of all elements in a list.

list_numbers = range(1,21)
print(sum(list_numbers))

210

In [28]:
## 16. Find the maximum value in a list.

list_numbers = [1,4,2,5,6,55]
print(max(list_numbers))

55

In [29]:
## 17. Find the minimum value in a list.

list_numbers = [1,4,2,5,6,55]
print(min(list_numbers))

1

In [36]:
## 18. Create a list of squares of numbers from 1 to 10.

list_num = range(1,11)
square = []
for i in list_num:
    i = i**2
    square.append(i)
print(f"The list of squares of numbers are {square}")

The list of squares of numbers are [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [38]:
## 19. Create a list of random numbers.

import random

random_numbers = 10  
min_value = 1  
max_value = 50 

random_numbers = [random.randint(min_value, max_value) for i in range(random_numbers)]
print(random_numbers)

[32, 31, 37, 43, 17, 6, 21, 25, 11, 41]

In [39]:
## 20. Remove duplicates from a list.

myList = [1,2,5,5,2,2,7,8,9,1,1,3,4,6,10]
unique_list = list(set(myList))
print("Unique List: ", unique_list)

Unique List:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
## 21. Find the common elements between two lists.

list1 = [1, 2, 3, 4, 5, 6, 7, 8]
list2 = [8, 4, 5, 6, 7]

common_elements = list(set(list1).intersection(list2))
print(common_elements)

[4, 5, 6, 7, 8]

In [41]:
## 22. Find the difference between two lists.

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 55, 70]
list2 = [8, 4, 5, 6, 7]

difference = []

for i in list1:
    if i not in list2:
        difference.append(i)

print(difference)

[1, 2, 3, 55, 70]

In [43]:
## 23. Merge two lists.

list1 = [11,22,33,44]
list2 = [55,66,77,88]

list3 = list1 + list2
print("The merged list is: ", list3)

The merged list is:  [11, 22, 33, 44, 55, 66, 77, 88]

In [49]:
## 24. Multiply all elements in a list by 2.

list1 = [11,22,33,44]

mulitplied_list = list(map(lambda a : a*2, list1))

print(mulitplied_list)

[22, 44, 66, 88]

In [51]:
## 25. Filter out all even numbers from a list.

list_rand = [1, 2, 3, 4, 5, 6,7,8,9,10]
filtered_list = list(filter(lambda a : a % 2 == 0, list_rand))

print(filtered_list)

[2, 4, 6, 8, 10]

In [53]:
## 26. Convert a list of strings to a list of integers.

string_list = ['1', '2', '3', '4', '5', '6', '7', '8']
integer_list = list(map(lambda a: int(a), string_list))
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [55]:
## 27. Convert a list of integers to a list of strings.

integer_list = [1, 2, 3, 4, 5, 6, 7, 8]
string_list = list(map(lambda a: str(a), integer_list))
print(string_list)

['1', '2', '3', '4', '5', '6', '7', '8']

In [57]:
## 28. Flatten a nested list.

list_f = [[1,2,3], [4,5,6], [7,8,9]]

flatten_list = [i for innerList in list_f for i in innerList]

print("Original List", list_f)
print("Flatten List", flatten_list)

Original List [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Flatten List [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
## 29. Create a list of the first 10 Fibonacci numbers.

num = 11
list_f = []
a = 0
b = 1

for i in range(1,num):
    list_f.append(a)
    c = a+b
    a = b
    b = c
print(list_f)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [6]:
## 30. Check if a list is sorted.

list1 = [3,2,4,6,8,3,6]
l2 = list1
sorted_l1 = list1.sort()

if sorted_l1 == l2:
    print("Yes the list is sorted")
else:
    print("The list is not sorted")

The list is not sorted

In [10]:
## 31. Rotate a list to the left by n positions.

list1 = [3,2,4,6,8,3,6]
rotate = list1[-1]

for i in list1:
    x = list1.index(i)
    list1[x-1] = list1[x]
list1[-2] = rotate
print(list1)

[2, 4, 6, 3, 3, 6, 3]

In [11]:
## 32. Rotate a list to the right by n positions.

t= [1,5,2,3,6,7]
s1 = t[0:(len(t)-1)]   #slice string index 0 to 2nd last element
s1.insert(0,t[-1])     #insert last element to index 0
s1                     #Right shifted list

[7, 1, 5, 2, 3, 6]

In [13]:
## 33. Create a list of prime numbers up to 50.

l = []
for i in range (1, 51):
    count = 0
    for j in range(2, (i//2 + 1)):
        if(i % j == 0):
            count = count + 1
            break

    if (count == 0 and i != 1):
        l.append(i)
print(l)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [20]:
## 34. Split a list into chunks of size n.

list_1 = list(range(1,11))
c_size = int(input('Enter chunk size'))
new_list = []
i = 0

while i<len(list_1):
    new_list.append(list_1[i:c_size+i])
    i = i+c_size
print(new_list)

Enter chunk size 2

[[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]

In [21]:
## 35. Find the second largest number in a list.

l=[1,2,3,4,89,0,9,3,10,45]
l.sort()
l[-2]

45

In [23]:
## 36. Replace every element in a list with its square.

l=list(range(1,11))
s=[]
for x in l:
    s.append(x*x)
print(s)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
## 37. Convert a list to a dictionary where list elements become keys and their indices become values.

l=list(range(1,9))
dict={}
for x in l:
    dict[x]=l.index(x)
dict

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7}

In [26]:
## 38. Shuffle the elements of a list randomly.

import random

list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Shuffle the list randomly
random.shuffle(list_1)

print("Shuffled list:", list_1)

Shuffled list: [1, 2, 8, 6, 10, 5, 3, 4, 7, 9]

In [27]:
## 39. Create a list of the first 10 factorial numbers.

l=list(range(1,11))
i=1
c=1
f=[]
for x in l:
    while(i<=x):
        c=c*i
        i=i+1
    f.append(c)
print(f)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [28]:
## 40. Check if two lists have at least one element in common.

list_1 = ['I', 'am', 'Azad']
list_2 = ['I', 'live', 'in', 'Sweden']
for i in list_1:
    for j in list_2:
        if i == j:
            break
        else: 
            continue
print('The two lists have have at least one element in common')

The two lists have have at least one element in common

In [30]:
## 41. Remove all elements from a list.

l1=list(range(1,11))
print(l1)
l1.clear()
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[]

In [33]:
## 42. Replace negative numbers in a list with 0.

l_1 = [-1, 9, -8, 7, 3]
l_2 = []
for i in l_1:
    if i < 0:
        l_2.append(0)
    else:
        l_2.append(i)
        continue
print(l_2)

[0, 9, 0, 7, 3]

In [35]:
## 43. Convert a string into a list of words.

str_1 = input()
l_1 = str_1.split()
print(l_1)

 I am Azad

['I', 'am', 'Azad']

In [36]:
## 44. Convert a list of words into a string.

l_1 = ['I', 'am', 'Azad']
print(' '.join(l_1))

I am Azad

In [39]:
## 45. Create a list of the first n powers of 2.

l_1 = []
n = int(input('Enter the positive integer upto which you want the power of 2 to be listed out: '))
for i in range(1, n+1):
    l_1.append(2**i)
    
l_1

Enter the positive integer upto which you want the power of 2 to be listed out:  3

[2, 4, 8]

In [40]:
## 46. Find the longest string in a list of strings.

l=['Kaiser','Akram','Sanjida','Farzana']
long_str = ''
for x in l:
    if len(x) > len(long_str):
        long_str = x
print(long_str)

Sanjida

In [43]:
## 47. Find the shortest string in a list of strings.

l=['Kaiser','Akram','Sanjida','Farzana']
short_str = l[0]
for x in l:
    if len(x) < len(short_str):
        short_str = x
print(short_str)

Akram

In [44]:
## 48. Create a list of the first n triangular numbers.

n = int(input('Enter n'))
l = list(range(1,n))
t=[]
s=0
for x in l:
    s=s+x
    t.append(s)
print(t)

Enter n 10

[1, 3, 6, 10, 15, 21, 28, 36, 45]

In [45]:
## 49. Check if a list contains another list as a subsequence.

l=[1,2,3,[1,2,3,4]]
c=0
for x in l:
    if type(x) == list:
        c=c+1
if c>0:
    print('yes')
else:
    print('no')

yes

In [47]:
## 50. Swap two elements in a list by their indices.

g=[1,2,3,4,5,6,7]
t=g[2]
g[3]=g[5]    #swap 4th and 6th element
g[4]=t
g

[1, 2, 3, 6, 3, 6, 7]

## Tuple Based Practice Problem:

In [53]:
## 1. Create a tuple with integers from 1 to 5.

t=tuple(range(1,8))
t
type(t)

tuple

In [54]:
## 2. Access the third element of a tuple.

t=tuple(range(1,8))
t[2]

3

In [55]:
## 3. Find the length of a tuple without using the len() function.

t=tuple(range(1,8))
c=0
for x in t:
    c=c+1
print(c)

7

In [57]:
## 4. Count the occurrences of an element in a tuple.

t=(1,2,4,1,0,5,2,9)  #test  tuple
n=1                #number to be checked
c=0
for x in t:
    if x==n:
        c=c+1
print(c)

2

In [61]:
## 5. Find the index of the first occurrence of an element in a tuple.

t_1 = (3,4,5,'g','g','h','e','h')
t_1.count('h')

2

In [63]:
## 6. Check if an element exists in a tuple.

t_list=(4,5,7,1,2,9,3,5,4,5)
numb=4                #number to be checked
for i in t_list:
    if i == numb:
        print('yes')
        break

yes

In [66]:
## 7.Convert a tuple to a list.

tp=(4,5,7,1,3,5,4,5)
l_1=list(t)
l_1

[4, 5, 7, 1, 3, 5, 4, 5]

In [67]:
## 8. Convert a list to a tuple.

l_1=[1, 2, 9, 3, 5, 4, 5]
tp=tuple(l_1)
tp

(1, 2, 9, 3, 5, 4, 5)

In [70]:
## 9. Unpack the elements of a tuple into variables.

tp = (4,5,7,1,2,9)
for i in tp:
    a = i
    print(a)

4
5
7
1
2
9

In [71]:
## 10. Create a tuple of even numbers from 1 to 10.

list_1 = []
for i in range(1, 11):
    if i%2==0:
        list_1.append(i)
t_1 = tuple(list_1)
t_1

(2, 4, 6, 8, 10)

In [72]:
## 11. Create a tuple of odd numbers from 1 to 10.

l_1 = []
for j in range(1, 11):
    if j%2!=0:
        l_1.append(j)
tp_1 = tuple(l_1)
tp_1

(1, 3, 5, 7, 9)

In [73]:
## 12. Concatenate two tuples.

tp=tuple(range(1,10))
tp1=tuple(range(11,20))
tp+tp1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [74]:
## 13. Repeat a tuple three times.

tp=tuple(range(1,3))*3
tp

(1, 2, 1, 2, 1, 2)

In [75]:
## 14. Check if a tuple is empty.

t=()
if len(t) == 0:
    print('empty')

empty

In [76]:
## 15. Create a nested tuple.

tp=(1,2,3,(4,5,6))
tp

(1, 2, 3, (4, 5, 6))

In [77]:
## 16. Access the first element of a nested tuple.

tp = (1, 2, 3, (4, 5, 6))
tp[3][0]

4

In [78]:
## 17. Create a tuple with a single element.

tp = 1,
tp

(1,)

In [80]:
## 18. Compare two tuples.

tp1 = (1,2,3,4,5)
tp2 = (1,3,4)

print("tuple1 == tuple2:", tp1 == tp2)  # Equality check
print("tuple1 != tuple2:", tp1 != tp2)  # Inequality check
print("tuple1 < tuple2:", tp1 < tp2)    # Less than check
print("tuple1 <= tuple2:", tp1 <= tp2)  # Less than or equal to check
print("tuple1 > tuple2:", tp1 > tp2)    # Greater than check
print("tuple1 >= tuple2:", tp1 >= tp2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [83]:
## 19. Delete a tuple.

tp=tuple(range(1,5))
del tp
tp

NameError: name 'tp' is not defined

In [85]:
## 20. Slice a tuple.

tp = (1,2,3,4,('am', '12', 'hl'))
tp[3:5]

(4, ('am', '12', 'hl'))

In [86]:
## 21. Find the maximum value in a tuple.

tp = (1, 13, 20)
max(tp)

20

In [87]:
## 22. Find the minimum value in a tuple.

tp = (1, 13, 20)
min(tp)

1

In [89]:
## 23. Convert a string to a tuple of characters.

tp='HiAzad'
tp1=tuple(tp)
tp1

('H', 'i', 'A', 'z', 'a', 'd')

In [90]:
## 24. Convert a tuple of characters to a string.

tp = ('A','z','a','d')
string=''
for i in tp:
    string = string+i
print(string)
type(string)

Azad

str

In [91]:
## 25. Create a tuple from multiple data types.

tp=(1,2,3,'Azad',[1,2,3],{1,2,3,})
tp

(1, 2, 3, 'Azad', [1, 2, 3], {1, 2, 3})

In [94]:
## 26. Check if two tuples are identical.

tp1 = tuple(range(1,11))
tp2 = tuple(range(1,11))
if tp1 == tp2:
    print('identical')
else:
    print('not identical')

identical

In [98]:
## 27. Sort the elements of a tuple.


tp=(2,34,1,4,56,3,245)
tp=list(tp)
tp.sort()
tp=tuple(tp)
tp

(1, 2, 3, 4, 34, 56, 245)

In [99]:
## 28. Convert a tuple of integers to a tuple of strings.

tp = (1,2,3,4,5)
tp = list(tp)
string=[]
for i in tp:
    i = str(i)
    string.append(i)
string = tuple(string)
print(string)

('1', '2', '3', '4', '5')

In [100]:
## 29. Convert a tuple of strings to a tuple of integers.

tp=('1','2','3', '4', '5')
tp = list(tp)
s=[]
for i in tp:
    i=int(i)
    s.append(i)
s=tuple(s)
print(s)

(1, 2, 3, 4, 5)

In [101]:
## 30. Merge two tuples.

tp1=(1,2,3,4,5)
tp2=(6,7,8,9,10)
s=tp1+tp2
s

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [102]:
## 31. Flatten a nested tuple.

from functools import reduce

tp_1 = ((1,2,3,4), (1,2,3), (1,), (2,))
list(reduce(lambda x, y: x + y, tp_1, ()))

[1, 2, 3, 4, 1, 2, 3, 1, 2]

In [103]:
## 32. Create a tuple of the first 5 prime numbers.

# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [105]:
## 33. Check if a tuple is a palindrome.

tp=('M','a','l','a','y','a','l','a','m')
s=''
for i in tp:
    s=s+i
s=s.upper()
if s==s[::-1]:
    print('yes')
else:
    print('no')

yes

In [106]:
## 34. Create a tuple of squares of numbers from 1 to 5.

tp1=(1,2,3,4,5)
tp1= list(tp1)
s=[]
for i in tp1:
    s.append(i*i)
s=tuple(s)
print(s)

(1, 4, 9, 16, 25)

In [108]:
## 35. Filter out all even numbers from a tuple.

tp=(1,2,4,5,6)
l=list(t)
f=[]
for i in tp:
    if i%2!=0:
        f.append(i)
f=tuple(f)
print(f)

(1, 5)

In [110]:
## 36. Multiply all elements in a tuple by 2.

tp=(1,2,4,5)
tp=list(tp)
m=[]
for i in tp:
    m.append(i*2)
m=tuple(m)
print(m)

(2, 4, 8, 10)

In [111]:
## 37. Create a tuple of random numbers.

import random

# Create a tuple of random numbers using a list comprehension
random_tuple = tuple(random.randint(1, 100) for i in range(10))  # Generating 10 random numbers between 1 and 100

# Print the tuple of random numbers
print("Random tuple:", random_tuple)

Random tuple: (4, 44, 1, 64, 49, 37, 61, 14, 80, 70)

In [113]:
## 38. Check if a tuple is sorted.

tp=()
tp=(1,2,8,4,5,43,6)
m=tuple(sorted(tp))
if tp==m:
    print('yes')
else:
    print('no')

no

In [116]:
## 39. Rotate a tuple to the left by n positions.

l1= (1,3,2,4,8,10)
l1=list(l1)
y=l1[-1]
for i in l1:
    i = l1.index(i)
    l1[i-1]=l1[i]
l1[-2] = y
l1=tuple(l1)
print(l1)

(3, 2, 4, 8, 10, 1)

In [117]:
## 40. Rotate a tuple to the right by n positions.

tp= (1,4,2,5,2,3,6,8)
tp=list(tp)
s=tp[-1]
f = tp[0:len(t)-1]
f.insert(0,s)
print(f)

[8, 1, 4, 2, 5, 2, 3, 6, 8]

In [118]:
## 41. Create a tuple of the first 5 Fibonacci numbers.

c=1
s=0
l=[0,1]
while c<5:
    s=l[c-1]+l[c]
    l.append(s)
    c=c+1
l=tuple(l)
print(l)

(0, 1, 1, 2, 3, 5)

In [119]:
## 42. Create a tuple from user input.

tp = tuple(input('Enter a tuple: '))
tp

Enter a tuple:  1234567890

('1', '2', '3', '4', '5', '6', '7', '8', '9', '0')

In [122]:
## 43. Swap two elements in a tuple.

tp=(1,3,2,45,4,5)
tp=list(tp)
temp =tp[1]         #swapping 2nd and 4th element
tp[1]=tp[3]
tp[3]=temp
print(tuple(tp))

(1, 45, 2, 3, 4, 5)

In [123]:
## 44. Reverse the elements of a tuple.

tp=(1,7,3,2,4,5)
tp=tp[::-1]
print(tp)

(5, 4, 2, 3, 7, 1)

In [124]:
## 45. Create a tuple of the first n powers of 2.

n=int(input('Enter n'))
i=0
l=[]
while i<=n:
    l.append(2**i)
    i=i+1
print(tuple(l))

Enter n 6

(1, 2, 4, 8, 16, 32, 64)

In [126]:
## 46. Find the longest string in a tuple of strings.

string_tuple = ("Sweden", "India", "Bangladesh", "Pakistan", "Srilanka")

longest_string = max(string_tuple, key=len)

print("Longest string:", longest_string)

Longest string: Bangladesh

In [127]:
## 47. Find the shortest string in a tuple of strings.

string_tuple = ("Sweden", "India", "Bangladesh", "Pakistan", "Srilanka")

shortest_string = min(string_tuple, key=len)

print("Longest string:", shortest_string)

Longest string: India

In [128]:
## 48. Create a tuple of the first n triangular numbers.

n = int(input('Enter n'))
l = list(range(1,n))
t=[]
s=0
for x in l:
    s=s+x
    t.append(s)
print(tuple(t))

Enter n 5

(1, 3, 6, 10)

In [129]:
## 49. Check if a tuple contains another tuple as a subsequence.

l=(1,2,3,(1,2,3,4))
c=0
for x in l:
    if type(x) == tuple:
        c=c+1
if c>0:
    print('yes')
else:
    print('no')

yes

In [130]:
## 50. Create a tuple of alternating 1s and 0s of length n.

n=int(input('Enter n'))
t=[]
i=0
while i<n:
    if i%2==0:
        t.append(1)
    else:
        t.append(0)
    i=i+1
print(t)

Enter n 5

[1, 0, 1, 0, 1]

## Set Based Practice Problem:

In [1]:
## 1. Create a set with integers from 1 to 5.

int_set = {1,2,3,4,5}
int_set

{1, 2, 3, 4, 5}

In [6]:
## 2. Add an element to a set.

s={1,2,3,4,5,20}
g=list(s)
g.append(10)    #add element 7
g=set(g)
g

{1, 2, 3, 4, 5, 10, 20}

In [7]:
## 3. Remove an element from a set.

s={1,2,3,4,5,10}
s=list(s)
s.remove(5)    
print(set(s))

{1, 2, 3, 4, 10}

In [8]:
## 4. Check if an element exists in a set.

s={2,3,4,1,3}
s=list(s)
c=0
for x in s:
    if x==9:    #check if 9 is there
        c=c+1
if c>0:
    print('yes')
else:
    print('no')

no

In [11]:
## 5. Find the length of a set without using the len() function.

test = set(range(10))
test = list(test)
c=0
for i in test:
    c=c+1
print(c)

10

In [12]:
## 6. Clear all elements from a set.

s={1,2,3,4,5}
s.clear()
s

set()

In [13]:
## 7. Create a set of even numbers from 1 to 10.

s=set(range(2,11,2))
s

{2, 4, 6, 8, 10}

In [14]:
## 8. Create a set of odd numbers from 1 to 10.

s=set(range(1,11,2))
s

{1, 3, 5, 7, 9}

In [15]:
## 9. Find the union of two sets.

s={1,2,3,4}
s1={3,4,5,6}
f=s.union(s1)
f

{1, 2, 3, 4, 5, 6}

In [16]:
## 10. Find the intersection of two sets.

s={1,2,3,4}
s1={3,4,5,6}
f=s.intersection(s1)
f

{3, 4}

In [17]:
## 11. Find the difference between two sets.

s={1,2,3,4}
s1={3,4,5,6}
f=s.difference(s1)
f

{1, 2}

In [18]:
## 12. Check if a set is a subset of another set.

s={1,2,3,4}
s1={3,4}
if s1.issubset(s)==True:
    print('True')
else:
    print('False')

True

In [19]:
## 13. Check if a set is a superset of another set.

s={1,2,3,4}
s1={3,4}
if s.issuperset(s1)==True:
    print('True')
else:
    print('False')

True

In [20]:
## 14. Create a set from a list.

l=[1,2,3,3,4]
s=set(l[0:2])
s

{1, 2}

In [21]:
## 15. Convert a set to a list.

s={1,2,3,4,5}
s=list(s)
s

[1, 2, 3, 4, 5]

In [22]:
## 16. Remove a random element from a set.

s={1,2,3,4,5}
s.remove(4)    #remove element 4
s

{1, 2, 3, 5}

In [23]:
## 17. Pop an element from a set.

s={1,2,3,4,5}
p=s.pop()            #remove and return arbitrary element
p

1

In [24]:
## 18. Check if two sets have no elements in common.

s={1,2,3,4}
s1={3,4,5,6}
if len(s.intersection(s1)) == 0:
    print('no common element')
else:
    print('common element')

common element

In [25]:
## 19. Find the symmetric difference between two sets.

s={1,2,3,4}
s1={3,4,5,6}
f=s.symmetric_difference(s1)
f

{1, 2, 5, 6}

In [26]:
## 20. Update a set with elements from another set.

s={1,2,3,4}
s1={8,9,5,6}
s1.update(s)
print(s1)

{1, 2, 3, 4, 5, 6, 8, 9}

In [27]:
## 21. Create a set of the first 5 prime numbers.

# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [28]:
## 22. Check if two sets are identical.

s={1,2,3,4}
s1={1,2,3,4}
if s==s1:
    print('yes')
else:
    print('no')

yes

In [31]:
## 23. Create a frozen set.

s=frozenset([1,2,3,4,8])
print(s)

frozenset({1, 2, 3, 4, 8})

In [32]:
## 24. Check if a set is disjoint with another set.

s={1,2,3,4}
s1={1,9,5,6}
if s.isdisjoint(s1) == True:
    print('yes')
else:
    print('no')

no

In [33]:
## 25. Create a set of squares of numbers from 1 to 5.

s=list(range(1,6))
l=[]
for x in s:
    l.append(x*x)
print(set(l))

{1, 4, 9, 16, 25}

In [34]:
## 26. Filter out all even numbers from a set.


s={1,2,3,4}
s=list(s)
l=[]
for x in s:
    if x%2==0:
        l.append(s.pop(s.index(x)))
print(set(l))

{2, 4}

In [35]:
## 27. Multiply all elements in a set by 2.

s={1,2,3,4}
s=list(s)
l=[]
for x in s:
    l.append(2*x)
print(set(l))

{8, 2, 4, 6}

In [36]:
## 28. Create a set of random numbers.

# Step 1: Import the `random` module to generate random numbers
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {64, 4, 44, 28, 95}

In [37]:
## 29. Check if a set is empty.

s={8,9}
if len(s)==0:
    print('Empty set')
else:
    print('Not empty set')

Not empty set

In [38]:
## 30. Create a nested set (hint: use frozenset).

n=set([frozenset({1,2,3,4}),5,6,7])
n

{5, 6, 7, frozenset({1, 2, 3, 4})}

In [39]:
## 31. Remove an element from a set using the discard method.

s={1,2,3,4,5}
s.discard(2)
s

{1, 3, 4, 5}

In [41]:
## 32. Compare two sets.

s={1,2,3,4}
s1={1,2,3,4,7}
if s==s1:
    print('same')
else:
    print('not same')

not same

In [42]:
## 33. Create a set from a string.

s=input('Enter a string')
s=set(s)
print(s)

Enter a string Azad

{'d', 'A', 'a', 'z'}

In [43]:
## 34. Convert a set of strings to a set of integers.

s={'1','2','3','4'}
s=list(s)
l=[]
for x in s:
    l.append(int(x))
print(set(l))

{1, 2, 3, 4}

In [44]:
## 35. Convert a set of integers to a set of strings.

s={1,2,3,4}
s=list(s)
l=[]
for x in s:
    l.append(str(x))
print(set(l))

{'2', '4', '1', '3'}

In [45]:
## 36. Create a set from a tuple.

t=(1,2,3,4,5)
s=set(t[0:2])
print(s)

{1, 2}

In [46]:
## 37. Convert a set to a tuple.

s={1,2,3,4}
t=tuple(s)
t

(1, 2, 3, 4)

In [49]:
## 38. Find the maximum value in a set.

f={1,10,4,5,6,1,3,45}
l=list(f)
m=0
for x in l:
    i=0
    while i<len(l):
        if x>l[i]:
            m=x
        i=i+1
print('max is',m)

max is 45

In [50]:
## 39. Find the minimum value in a set.

f={10,2,3,4,2,3}
l=list(f)
m=0
for x in l:
    i=0
    while i<len(l):
        if x<l[i]:
            m=x
        i=i+1
print('min is',m)

min is 4

In [51]:
## 40. Create a set from user input.

user =set(input('Enter a set'))
user

Enter a set 123456

{'1', '2', '3', '4', '5', '6'}

In [52]:
## 41. Check if the intersection of two sets is empty.

s={1,2,3,4}
s1={90,9,5,6}
t=s.intersection(s1)
if len(t) == 0:
    print('yes')
else:
    print('no')

yes

In [54]:
## 42. Create a set of the first 5 Fibonacci numbers.

# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [55]:
## 43. Remove duplicates from a list using sets.

l=[1,2,3,4,2,2]
s=set(l)
s

{1, 2, 3, 4}

In [57]:
## 44. Check if two sets have the same elements, regardless of their count.

s={1,2,3,4}
s1={1,2,3,4,5,6}
if s.issubset(s1) == True:
    print('Have same elements')
else:
    print('Not same elements')

Have same elements

In [58]:
## 45. Create a set of the first n powers of 2.

n=int(input('Enter n'))
i=0
v=[]
while i<n:
    v.append(2**i)
    i=i+1
print(set(v))

Enter n 5

{1, 2, 4, 8, 16}

In [59]:
## 46. Find the common elements between a set and a list.

s={1,2,3,4}
l=[2,3,4,5,6]
l=set(l)
t=s.intersection(l)
t

{2, 3, 4}

In [61]:
## 47. Create a set of the first n triangular numbers.

st = set()
nth = int(input())
k=0
for i in range(1,nth+1):
    for j in range(0,i+1):
        k+=j
    st.add(k)
    k=0
st

 5

{1, 3, 6, 10, 15}

In [62]:
## 48. Check if a set contains another set as a subset.

s={1,2,3,4,5}   #set
t={2,3,4}       #subset
if s.issuperset(t) == True:
    print('Yes')
else:
    print('No')

Yes

In [63]:
## 49. Create a set of alternating 1s and 0s of length n.

user= int(input('Enter n'))
i=0
f=[]
while i<n:
    if i%2==0:
        f.append(0)
    else:
        f.append(1)
    i=i+1
print(set(f))

Enter n 5

{0, 1}

In [64]:
## 50. Merge multiple sets into one.

s={1,2,3,4}
s1={3,4,5,6,7}
f=s.union(s1)
print(f)

{1, 2, 3, 4, 5, 6, 7}