## Basic Level

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [7]:
for i in range(1,11):      ## Setting the range to iterate within the range
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [15]:
n = [2,2,2,2,2]
sum = 0

for i in n:
    sum+=i
print("The sum of the numbers in the list is:", sum)

The sum of the numbers in the list is: 10

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [17]:
s = "Azad"
r = " "

for i in reversed(s):
    r+=i
    
print("My reveresed order is", r)

My reveresed order is  dazA

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [1]:
num = int(input("Enter a number"))
a = 1
for i in range(1,num +1):
    a = i*a

print(a)

Enter a number 4

24

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [3]:
num = int(input("Enter a number: "))

for i in range(1,11):
    result = num*i
    print(f"{num} * {i} = {result}")

Enter a number:  12

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [30]:
num = [2,3,4,5,6,7,8,9,10]
even_count = 0
odd_count = 0
for i in num:
    if i%2==0:
        even_count+=1
    else:
        odd_count+=1

print("The counts of even numbers are", even_count)
print("The counts of odd numbers are", odd_count)

The counts of even numbers are 5
The counts of odd numbers are 4

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [5]:
n = range(1,6)

for i in n:
    print((i**2))

1
4
9
16
25

8. Create a program to find the length of a string without using the `len()` function.

In [7]:
string = input("Enter a string: ")
length = 0

for i in string:
    length+=1
print(f"The length of the string is: {length}")

Enter a string:  azad

The length of the string is: 4

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [51]:
num = [1,2,3,4,5,6,7,8,9,10]
total = 0
count = 0
for i in num:
    total+=i
    count+=1
avg = total/count
print(f"The average of a list of numbers: {avg}")

The average of a list of numbers: 5.5

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [8]:
num = int(input("Input a number: "))
list_f = []
a = 0
b = 1

for i in range(0,num):
    list_f.append(a)
    c = a+b
    a = b
    b = c
print(list_f)

Input a number:  12

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

## Intermediate Level

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [16]:
li = [2,2,3,4,5,6,4,3,9,10,11,12]
dup = []
for i in li:
    if i not in dup:
        dup.append(i)
        
print(f"The list contains duplicates values and these are {dup}")

The list contains duplicates values and these are [2, 3, 4, 5, 6, 9, 10, 11, 12]

12. Create a program that prints the prime numbers in a given range using a `for` loop. ?????????????????

In [37]:
p_num=[]
for i in range(2,21):
    if i%i == 0:
        p_num.append(i)
print(p_num)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [11]:
count = 0
v = 'aeiouAEIOU'

for i in str(input("Enter a word")):
    if i in v:
        count+=1
print("The number of vowels are",count)

Enter a word Kaiser Azad

The number of vowels are 5

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [1]:
matrix = [
    [1, 7, 3],
    [5, 1, 9],
    [3, 7, 1]
    ]

max_element = matrix[0][0]

for row in matrix:
    for element in row:
        if element > max_element:
            max_element = element

print(f"The maximum element in the 2D list is: {max_element}")

The maximum element in the 2D list is: 9

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [6]:
l = [1,2,3,2,5,4,3,5,7,8,9,3,3,3,3]

new_l = []


for i in l:
    if i != 2:
        new_l.append(i)
print(f"After removing all the occurrences of '2' the new list is {new_l}")

After removing all the occurrences of '2' the new list is [1, 3, 5, 4, 3, 5, 7, 8, 9, 3, 3, 3, 3]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [36]:
for i in range(1,6):
    for j in range(1,11):
        print(f"{i} * {j} = {i*j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [48]:
temp_f = [33.4,32,43,21,26,43,34]

temperature_in_Celcsius = []

for i in temp_f:
    temp_c = (5/9)*(i-32)
    temperature_in_Celcsius.append(temp_c)
    
print("The list of converted temperatures are",temperature_in_Celcsius)

The list of converted temperatures are [0.777777777777777, 0.0, 6.111111111111112, -6.111111111111112, -3.3333333333333335, 6.111111111111112, 1.1111111111111112]

18. Create a program to print the common elements from two lists using a `for` loop.

In [59]:
l1 = [2,3,4,5,32,7,98,23,45]
l2 = [56,65,345,2,4,543]

common = []

for i in l1:
    if i in l2:
        common.append(i)
            
print(f"The common elements from two lists are {common}")

The common elements from two lists are [2, 4]

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the pattern.

In [63]:
for i in range(0,10):
    for j in range(0,i+1):
        print("*", end="")

    print("\r")

*
**
***
****
*****
******
*******
********
*********
**********

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [1]:
def gcd_func( a, b):  
    if a > b:  
        temp = b  
    else:  
        temp = a  
    for i in range(1, temp + 1):  
        if ((a%i == 0) and (b%i == 0 )):  
            gcd = i  
    return gcd
a = int(input('Enter the first number: '))
b = int(input('Enter the second number: '))
num_gcd= gcd_func(a, b)
print(f'The Greatest common divisor of {a} and {b} is {num_gcd}')

Enter the first number:  3
Enter the second number:  8

The Greatest common divisor of 3 and 8 is 1

## Advance Level

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [25]:
num = [12345, 13, 15, 25]
sum_num = [sum((int(i)) for i in str(number)) for number in num]

sum_num

[15, 4, 6, 7]

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [73]:
list_of_number = [1,34,32,2,3,76,564,5,7,11,13,17]

prime = [i for i in list_of_number if i%2==i or i&1==i]
prime

[1]

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list comprehension.

In [2]:
list_1 = [1,2,3,0,9,9]
list_2 = set()
{list_2.add(i) for i in list_1}            
print(f'The unique elements in list {list_1} are {list(list_2)}')

The unique elements in list [1, 2, 3, 0, 9, 9] are [0, 1, 2, 3, 9]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list comprehension.

In [3]:
palind = int(input('Please enter the limit upto which the palindromeic numbers are to be found: '))
[i for i in range(1,palind+1) if str(i) == str(i)[::-1]]

Please enter the limit upto which the palindromeic numbers are to be found:  50

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44]

25. Write a program to flatten a nested list using list comprehension.

In [33]:
list_number = [[1,2,3], [4,5,6], [7,8,9]]

flatten_list = [i_2 for i_1 in list_number for i_2 in i_1]
flatten_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list comprehension.

In [56]:
list_numbers = [1,2,3,4,5,6,7,8,9,10]


even = [num for num in list_numbers if num%2==0]

odd = [num for num in list_numbers if num%2!=0]

print(f"The sum of even number is {sum(even)}")
print(f"The sum of even number is {sum(odd)}")

The sum of even number is 30
The sum of even number is 25

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list comprehension.

In [58]:
squares_of_odd = [i**2 for i in list_numbers if i%2!=0]

print(f"The list of squares of odd numbers between 1 and 10 is {squares_of_odd}")

The list of squares of odd numbers between 1 and 10 is [1, 9, 25, 49, 81]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [70]:
keys = ['name', 'age', 'role']
values = ["Shakib Al Hasan", "37", "All-Rounder"]

combined_dict = {key: value for key, value in zip(keys, values)}
print(combined_dict)

{'name': 'Shakib Al Hasan', 'age': '37', 'role': 'All-Rounder'}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [61]:
name = 'Mohammad Kaiser Azad'
vowels = 'aeiouAEIOU'

vowel_list = [i for i in name if i in vowels]
print(f"The vowels from the given string is {vowel_list}")

The vowels from the given string is ['o', 'a', 'a', 'a', 'i', 'e', 'A', 'a']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [5]:
lst = [1,232,3432,'Salt', 'Sugar', 'Azad']

lst_nonNumeric = [i for i in lst if type(i) != int]
lst_nonNumeric

['Salt', 'Sugar', 'Azad']